{% extends "blog/base.html" %}
{% block content %}
<a class="btn btn-primary" href="{% url 'blog-post' %}">post</a>
{% for post in posts %}
<div class="card mb-4">
    <!-- <img class="card-img-top" src="#" alt="Card image cap"> -->
    <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ post.created_date }} by
        <a href="#">{{ post.author }}</a>
    </div>
</div>
{% endfor %}
{% endblock content %}